@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims


<PageTitle>Index</PageTitle>

<div>
    <h2>Welcome, @user?.Identity?.Name?.Remove(5)</h2>
    <p>Email: @user?.FindFirst(ClaimTypes.Email)?.Value</p>
    <!-- Other user data can be accessed using user.Claims -->
</div>


<p>@authenticationState?.User?.Identity?.Name</p>

@code {
    private AuthenticationState? authenticationState;
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authenticationState.User;
    }
}
